include LICENSE
include README.rst
include shinku/py.typed
include shinku/features/scaffolds/cargo/Cargo.toml
include shinku/features/scaffolds/cargo/src/main.rs
include shinku/features/scaffolds/npm/package.json
include shinku/features/scaffolds/npm/index.js
include shinku/features/scaffolds/pyright/main.py
include shinku/features/scaffolds/pyright/pyrightconfig.json
include requirements/_.txt
include requirements/docs.txt
include requirements/procinfo.txt
include requirements/test.txt
include requirements/voice.txt
